
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Oswald');


body{
	background-image: url(../img/back2.gif);
	    background-color: black;
	        background-size: cover;


}



.heading
{
    font-family: 'Oswald', sans-serif;

    font-size: 4rem;
    letter-spacing: 3px;
    color: #fee;
    margin-top: 0.5em;
    padding: 0.3em;
    text-align: center;

}

hr{
    margin-top: 0px;
    border:1.5px solid #00fffd;
    box-shadow: 0 0 15px #00fffd;

}
.question{
    color: #fefe;
    font-size: 1em;
    padding: 1em;

}
section{

    font-family: Miltonian-Tattoo;
    padding: 1.5em;
    margin:0.2em;

}


@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700i);
@import url(https://fonts.googleapis.com/css?family=Cabin);
*{
    box-sizing: border-box;
}
.start section,.man{
	align-items: center;
    background: #000000;
    background: linear-gradient(#013247, #000000);
    border:6px solid #00a4a2;
    border-radius: 5px;
    position: relative;
    transition: 1s all;
    font-size: 1.4em;
width:80%;
margin-left:10%;
}

.start section:hover{
    border: 6px solid #00fffd;
    box-shadow: 0 0 15px #00fffd;
    transition: 1s all;
}
.start button{

    background: #41c1b8;
    background: linear-gradient(#ab1f4f, #000000);
    box-sizing: content-box;
    border: 1px solid #00fffd;

    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    display: block;
    font-family: Miltonian;
    color: #00fff0;
    width:60%;
    height: 2em;
    position:relative;
    margin-left:20%;


}
.start button:hover,
.start button:focus{
    background: linear-gradient(#41c1b8, #00908e);
    color: #fee;
    outline: none;
    transition: 1s all;
}
.start button:active{
    background: #ab1f4f;
    background: linear-gradient(#41c1b8, #00908e);
    box-shadow:0 1px 0 #000000,
    inset 1px 0 1px #222;
    top:1px;

}

.head{
 font-family: 'Oswald', sans-serif;

    letter-spacing: 3px;
    color: #fee;
    margin-top: 0.5em;
    padding: 0.3em;
    text-align: center;
        background: linear-gradient(#013247, #000000);
        color: white;


}

.hint{
         color: #013247;

}